.description {
  &__container {
    @extend %container;
    max-width: 1150px;
    padding: 20px 0 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    transition: 1s;
  }

  &__group {
    width: 100%;
    max-width: 458px;
    transition: 1s;

    &:not(:first-child) {
      margin-top: 63px;
    }
  }

  &__heading {
    position: relative;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: $second-font;
    font-weight: bold;
    color: $c-green;

    &::before {
      @extend %pseudoelement;
      left: 0;
      bottom: 0;
      height: 5px;
      width: 165px;
      transition: width 1s;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__list {
    padding-top: 17px;
    padding-left: 30px;
    list-style-type: none;
    font-size: 20px;
  }

  &__list-item {
    position: relative;
    line-height: 140%;
    
    &::before {
      @extend %pseudoelement;
      top: 2px;
      left: -32px;
      height: 23px;
      width: 23px;
      background: url("../images/tick.png") no-repeat center / 100%;
    }

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__supplement-facts {
    display: block;
    width: 100%;
    margin-top: 60px;
    transition: 1s;
  }

  &__group--first {
    .description__heading {
      &::before {
        background-color: $c-orange;
      }
    }
  }

  &__group--second {
    .description__heading {
      &::before {
        background-color: #6bbe4b;
      }
    }
  }

  &__group--third {
    .description__heading {
      &::before {
        background-color: #8e8e8e;
      }
    }
  }

  &__group--first.invisible {
    transform: translate(-500px, -100px);
    opacity: 0;
  }

  &__group--second.invisible {
    transform: translate(-500px, 100px);
    opacity: 0;
  }

  &__group--third.invisible {
    transform: translate(500px, -100px);
    opacity: 0;
  }

  &__supplement-facts.invisible {
    transform: translate(500px, 100px);
    opacity: 0;
  }
}
