.promo {
  &__container {
    @extend %container;
    padding: 60px 10px 60px 0;
    display: flex;
    column-gap: 70px;
    align-items: flex-start;
    animation: appearance 1s;
  }

  &__text-wrapper {
    width: 100%;
    max-width: 700px;
    flex: 1;
  }

  &__heading {
    color: $c-green;
    font-family: $second-font;
    font-size: 48px;
    font-weight: bold;
    line-height: 120%;
  }

  &__list {
    margin-top: 35px;
    list-style-image: url("../images/tick.png");
    list-style-position: inside;
  }

  &__list-item {
    margin-top: 20px;
    font-size: 24px;
  }

  &__buy-button {
    @extend %primary-button;
    margin-top: 45px;
    height: 85px;
    width: 100%;
    max-width: 300px;
    font-size: 28px;
    font-weight: bold;
  }

  &__guarantee {
    margin-top: 15px;
    font-size: 18px;
  }

  &__images-wrapper {
    width: 100%;
    max-width: 625px;
    display: flex;
    align-items: flex-start;
  }

  &__bottle-image {
    width: 70.4%;
    transform: translateY(-15px);
  }

  &__gmp-image {
    width: 29.6%;
    transform: translateY(40px);
  }
}

@media (max-width: 1360px) {
  .promo {
    &__container {
      flex-direction: column;
      align-items: center;
      padding-right: 0;
    }

    &__text-wrapper {
      margin-top: 60px;
      order: 2;
    }
  }
}

@media (max-width: 760px) {
  .promo {
    &__heading {
      font-size: 32px;
    }

    &__list-item {
      font-size: 20px;
    }

    &__buy-button {
      height: 75px;
      max-width: 270px;
    }
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
